<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miller.mining.mapper.MiningOverviewMapper">
  <resultMap id="BaseResultMap" type="com.miller.mining.model.MiningOverview">
    <id column="MiningOverview_ID" jdbcType="INTEGER" property="id" />
    <result column="MiningOverview_USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="MiningOverview_TOTAL_AMOUNT" jdbcType="DECIMAL" property="totalAmount" />
    <result column="MiningOverview_TOTAL_MILE" jdbcType="DECIMAL" property="totalMile" />
    <result column="MiningOverview_TOTAL_TIME" jdbcType="DECIMAL" property="totalTime" />
  </resultMap>
  <sql id="Base_Column_List">
    MiningOverview.ID as MiningOverview_ID, MiningOverview.USER_ID as MiningOverview_USER_ID, 
    MiningOverview.TOTAL_AMOUNT as MiningOverview_TOTAL_AMOUNT, MiningOverview.TOTAL_MILE as MiningOverview_TOTAL_MILE, 
    MiningOverview.TOTAL_TIME as MiningOverview_TOTAL_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_miningoverview MiningOverview
    where MiningOverview.ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_miningoverview
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.miller.mining.model.MiningOverview" useGeneratedKeys="true">
    insert into tab_miningoverview (USER_ID, TOTAL_AMOUNT, TOTAL_MILE, 
      TOTAL_TIME)
    values (#{userId,jdbcType=INTEGER}, #{totalAmount,jdbcType=DECIMAL}, #{totalMile,jdbcType=DECIMAL}, 
      #{totalTime,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.miller.mining.model.MiningOverview" useGeneratedKeys="true">
    insert into tab_miningoverview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT,
      </if>
      <if test="totalMile != null">
        TOTAL_MILE,
      </if>
      <if test="totalTime != null">
        TOTAL_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalMile != null">
        #{totalMile,jdbcType=DECIMAL},
      </if>
      <if test="totalTime != null">
        #{totalTime,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miller.mining.model.MiningOverview">
    update tab_miningoverview
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalMile != null">
        TOTAL_MILE = #{totalMile,jdbcType=DECIMAL},
      </if>
      <if test="totalTime != null">
        TOTAL_TIME = #{totalTime,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miller.mining.model.MiningOverview">
    update tab_miningoverview
    set USER_ID = #{userId,jdbcType=INTEGER},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      TOTAL_MILE = #{totalMile,jdbcType=DECIMAL},
      TOTAL_TIME = #{totalTime,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>