<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miller.mining.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.miller.mining.model.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PHONE_ID" jdbcType="VARCHAR" property="phoneId" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PHONE_ID, PASSWORD, USERNAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.miller.mining.model.User" useGeneratedKeys="true">
    insert into tab_user (PHONE_ID, PASSWORD, USERNAME
      )
    values (#{phoneId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.miller.mining.model.User" useGeneratedKeys="true">
    insert into tab_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phoneId != null">
        PHONE_ID,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phoneId != null">
        #{phoneId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miller.mining.model.User">
    update tab_user
    <set>
      <if test="phoneId != null">
        PHONE_ID = #{phoneId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miller.mining.model.User">
    update tab_user
    set PHONE_ID = #{phoneId,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <!-- 自定义 -->
  <select id="countByUsername" parameterType="java.lang.String" resultType="int">
    select count(*)
    from tab_user
    where USERNAME = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectUser" parameterType="com.miller.mining.model.User" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tab_user
    <where>
      <if test="user.id != null">
        AND ID = #{user.id,jdbcType=INTEGER}
      </if>
      <if test="user.username != null">
        AND USERNAME = #{user.username,jdbcType=VARCHAR}
      </if>
      <if test="user.password != null">
        AND PASSWORD = #{user.password,jdbcType=VARCHAR}
      </if>
      <if test="user.phoneId != null">
        AND PHONE_ID = #{user.phoneId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="selectUserByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tab_user
    where USERNAME = #{username,jdbcType=VARCHAR}
  </select>
</mapper>